* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
/*Header*/
#resume-header {
  opacity: 0.8;
  height: 65vh;
  background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 1.2rem;
}

/*Navigation*/
.horizontal-list {
  text-align: center;
  margin: 0px;
}

.horizontal-list li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 8px;
  font-size: 0.9rem;
  font-weight: 100;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}
.nav-menu li a {
  transition: color 0.4s, border-bottom 4s;
}
.nav-menu li a:hover {
  color: #d3d3d3;
  border-bottom: 1px solid white;
}

#name-social-container {
  text-align: center;
  margin-top: 24vh;
}

#my-name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.social-icons li a i {
  padding: 10px;
  font-size: 1rem;
  border-radius: 50%;
}

.social-icons li a i:hover {
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About*/
#about {
  height: auto;
  width: 100%;
}
#my-image {
  width: 12rem;
  height: 12rem;
  margin: auto;
  margin-top: -14vh;
}
#my-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  border: 3px solid white;
  box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.mb75 {
  margin-bottom: 75px;
}

#content {
  margin: 0 auto;
  margin-top: 2rem;
  color: grey;
  width: 75%;
  font-size: 1.2rem;
  line-height: 1.6;
  /* opacity: ; */
}

#content span {
  color: #2857a4;
  font-weight: bold;
}

section {
  width: 100%;
  height: 66vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(2n) {
  background-color: #efefef;
}

section:nth-child(2n + 1) {
  background-color: white;
}

/*Skills section*/

.section-heading {
  color: #2857a4;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 0 auto;
  font-weight: 100;
  margin-top: 4rem;
}

.section-heading span {
  margin-right: 15px;
}

.mb75 {
  margin-bottom: 75px;
}

.skills-display {
  width: 70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-progress {
  background-color: lightgrey;
  width: 10rem;
  height: 2rem;
  border-radius: 0.8rem;
  margin-left: 4rem;
}

.skills-progress > div {
  border-radius: 20px 0px 0px 20px;
}
.mb-blue {
  background-color: #2857a4;
}

.fifty-percent {
  width: 50%;
  height: inherit;
}

.skill-name span {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  position: relative;
  top: 7px;
}

.ninty-percent {
  width: 90%;
  height: inherit;
}

.mb-orange {
  background-color: #ec4d1c;
}

.sixty-percent {
  width: 60%;
  height: inherit;
}

.mb-grape {
  background-color: #93738c;
}

.ninty-percent {
  width: 90%;
  height: inherit;
}

.mb-green {
  background-color: #0b8176;
}

.forty-percent {
  width: 50%;
  height: inherit;
}

.seventy-percent {
  width: 70%;
  height: inherit;
}
